.main-container{
    background-color: #df3343;
    width:100%;
    height: 600px;
    
}
h1{
    padding: 30px;
    text-align: center;
    color: white;
    font-family: saigonbold,monospace;
}
h3{
    text-align: center;
    color: white;
    font-family: Roboto Slab,serif;;
}





.contenedores{
    padding-left: 360px;
}


.container-movil, .container-fibra, .container-fm{
    float: left;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
}
#movil, #fm, #fibra{
    color: #8da43c;
    font-family: serif;
    font-size: 20px;
}
#texto_1, #texto_2, #texto_3{
    opacity: 50%;
}
#foto1, #foto2, #foto3{
    width: 80px;
    height: 50px;
}
#bottones{
    background-color: #df3343;
    color:white;
    size: 80px;
}
